//Size
$space-xs:4px;
$space-s:8px;
$space-m:16px;
$space-l:32px;
$space-xl:64px;
$space-xxl:128px;
$space-xxxl:256px;

$spacing-map: (
        xxxl: $space-xxxl,
        xxl: $space-xxl,
        xl: $space-xl,
        l: $space-l,
        m: $space-m,
        s: $space-s,
        xs: $space-xs
);

//grids
$columns: 12;
$gutter: 30px;

/*
"sm": 576px,
"md": 768px,
"lg": 992px,
"xl": 1200px,
"xxl": 1600px,
*/

$break-point-smartphones: 576px;
$break-point-tablets-portrait: 768px;
$break-point-tablets-landscape: 992px;
$break-point-desktop: 1200px;
$break-point-desktop-large: 1600px;
$break-point-master: $break-point-tablets-landscape;

$centered-width-large:$break-point-desktop-large;
$centered-width_small:$break-point-tablets-portrait;

//color
$color-1:  #FDF7E9;
$color-2:  #ffffff;
$color-3:  #E63D2E;
$color-4:  #2C1C1C;
$color-5:  #D6D6D6;
$color-6:  #ECE9E9;
$color-essence-orange: $color-3;
$color-cream:  $color-1;
$color-black:  $color-4;
$color-white:  $color-2;
$color-background-1:  $color-1;
$color-background-2:  $color-2;
$color-text:  $color-4;
$border-color: $color-5;



//border-radius
$border-radius-base: 10px;

//font
$font-family-league-spartan: "League Spartan", Sans-serif;
$font-family-libre-baskerville: "Libre Baskerville", Sans-serif;

//font-size

$font-styles: (
        desktop: (
                h1: (font-size: 100px, line-height: 110px , font-weight: 600, strong-weight: 700),
                h2: (font-size: 64px, line-height: normal , font-weight: 600, strong-weight: 700),
                h3: (font-size: 48px, line-height: normal , font-weight: 500, strong-weight: 700),
                letter: (font-size: 35px, line-height: normal , font-weight: 400, strong-weight: 700),
                text: (font-size: 30px, line-height: normal , font-weight: 400, strong-weight: 700),
                table: (font-size: 25px, line-height: normal , font-weight: 400, strong-weight: 700),
                list: (font-size: 30px, line-height: normal , font-weight: 400, strong-weight: 700),
                quote: (font-size: 40px, line-height: normal , font-weight: 400, strong-weight: 700),
        ),
        mobile: (
                h1: (font-size: 40px, line-height: normal , font-weight: 700, strong-weight: 700),
                h2: (font-size: 38px, line-height: normal , font-weight: 600, strong-weight: 700),
                h3: (font-size: 30px, line-height: normal , font-weight: 500 , strong-weight: 700),
                letter: (font-size: 25px, line-height: normal , font-weight: 400, strong-weight: 700),
                text: (font-size: 20px, line-height: normal , font-weight: 400, strong-weight: 700),
                table: (font-size: 16px, line-height: normal , font-weight: 400, strong-weight: 700),
                list: (font-size: 20px, line-height: normal , font-weight: 400, strong-weight: 700),
                quote: (font-size: 24px, line-height: normal , font-weight: 400, strong-weight: 700),
        ),
        print: (
                h1: (font-size: 30pt, line-height: 36pt, font-weight: 500, strong-weight: 700),
                h2: (font-size: 13pt, line-height: 20pt, font-weight: 600, strong-weight: 700),
                h3: (font-size: 7.5pt, line-height: 13pt, font-weight: 700, strong-weight: 800),
                letter: (font-size: 11pt, line-height: 17pt, font-weight: 400, strong-weight: 700),
                text: (font-size: 9.75pt, line-height: 16pt, font-weight: 400, strong-weight: 700),
                table: (font-size: 8pt, line-height: 15pt, font-weight: 500, strong-weight: 600),
                list: (font-size: 9.75pt, line-height: 16pt, font-weight: 400, strong-weight: 600),
                quote: (font-size: 11pt, line-height: 17pt, font-weight: 400, strong-weight: 700),
        )
        /*print: (
                h1: (font-size: 40px, line-height: normal, font-weight: 500, strong-weight: 700),
                h2: (font-size: 15px, line-height: normal, font-weight: 600, strong-weight: 700),
                h3: (font-size: 10px, line-height: normal , font-weight: 700, strong-weight: 800),
                letter: (font-size: 13px, line-height: 1.3rem  , font-weight: 400, strong-weight: 700),
                text: (font-size: 10px, line-height: 1.3rem  , font-weight: 400, strong-weight: 700),
                list: (font-size: 10px, line-height: 1.3rem  , font-weight: 400, strong-weight: 600),
                quote: (font-size: 10px, line-height: 1.3rem , font-weight: 400, strong-weight: 600),
        )*/
);

//lld Properties
$project-web-width-text:120;




