@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

.srlp-animating-number {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color:$color-essence-orange;
  font-family: $font-family-league-spartan;
  .srlp-animating-number-small{
    text-align: right;
    @include font-style-web(small-text);
    .srlp-animating-number-small-number{

    }
  }
  .srlp-animating-number-big{
    @include font-style-web(number-big);
    .srlp-animating-number-big-number{

    }
  }
  .srlp-animating-number-label{
    @include font-style-web(small-text);
  }

}
