@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/mixins" as *;
.srl-title-h2{
  @include font-style-web(h2);
  color: $color-essence-orange;
  font-family: $font-family-league-spartan;
  font-style: normal;
  margin: 16px 0;
  padding:0;
  text-transform: uppercase;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}