
@use "/src/assets/scss/user-style/variables" as *;
@mixin srl-columns-layout($gutter: 20px, $breakpoint: $break-point-master) {
  .srl-columns {
    .srl-columns__grid {
      display: flex;
      flex-wrap: wrap;
      gap: $gutter;

      .srl-columns__column {
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;
        flex-direction: column;
        @media (min-width: $breakpoint) {
          flex: 0 0 calc((100% - $gutter) * 0.5);
          max-width: calc((100% - $gutter) * 0.5);
          &:nth-child(3),
          &:nth-child(4){
            display: none;
          }
        }
      }
    }
    &.srl-columns--1-2,
    &.srl-columns--2-1 {
      .srl-columns__column {
        display: none;
      }
    }
    &.srl-columns--1-2 {
      .srl-columns__column:nth-child(1) {
        display: flex;
        flex: 0 0 calc((100% - $gutter) * 0.3333);
        max-width: calc((100% - $gutter) * 0.3333);
      }

      .srl-columns__column:nth-child(2) {
        display: flex;
        flex: 0 0 calc((100% - $gutter) * 0.6667);
        max-width: calc((100% - $gutter) * 0.6667);
      }
    }
    &.srl-columns--2-1 {
      .srl-columns__column:nth-child(1) {
        display: flex;
        flex: 0 0 calc((100% - $gutter) * 0.6667);
        max-width: calc((100% - $gutter) * 0.6667);
      }

      .srl-columns__column:nth-child(2) {
        display: flex;
        flex: 0 0 calc((100% - $gutter) * 0.3333);
        max-width: calc((100% - $gutter) * 0.3333);
      }
    }
    &.srl-columns--3 {
      .srl-columns__column {
        display: flex;
        flex: 0 0 calc((100% - 2 * $gutter) / 3);
        max-width: calc((100% - 2 * $gutter) / 3);
        &:nth-child(3){
          display: flex;
        }
        &:nth-child(4){
          display: none;
        }
      }
    }
    &.srl-columns--4 {
      .srl-columns__column {
        display: flex;
        flex: 0 0 calc((100% - 3 * $gutter) / 4);
        max-width: calc((100% - 3 * $gutter) / 4);
        &:nth-child(3),
        &:nth-child(4){
          display: flex;
        }
      }
    }
  }
}


@include srl-columns-layout(20px);