@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/mixins" as *;
.srl-title-h4{
  @include font-style-web(h3);
  color: $color-text;
  font-family: $font-family-league-spartan;
  font-style: normal;
  margin: 16px 0;
  padding:0;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
}