@use "_web";
@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

.srlp-image-container {
  position: relative;
  min-height: 50vw;
  background-position: center;
  background-size: cover;
  align-items: stretch;
  padding-top:$space-m;
  padding-bottom:$space-m;
  @media (min-width: $break-point-master) {
    padding-top:$space-xl;
    padding-bottom:$space-xl;
  }
  .srlp-image-container-holder {
    .srlp-image-container__headline-container {
      display: none;
    }
    .srlp-image-container__subheadline-container {
      width: 100%;
      align-self: flex-end;
    }
  }
  &._is-hero-element{
    .srlp-image-container-holder{
      justify-content: space-between;
      .srlp-image-container__headline-container {
        display: block;
        width: 100%;
        align-self: flex-start;
      }
      .srlp-image-container__subheadline-container {
        width: 100%;
        align-self: flex-end;
        margin-bottom: -125px;
        .srl-article__grid{
          .srl-article__grid--inner{
            justify-self: center;
            @media (min-width: $break-point-master) {
              justify-self: right;
            }
          }
        }
      }
    }
  }
  &._is-hero-video-text-element{
    background-image: none!important;
    position: relative;
    display: flex;
    .srlp-video-container-holder{
      position: absolute;
      left: 0;
      right: 0;
      top:0;
      height: 100%;
      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        pointer-events: none; // verhindert Interaktion
      }
    }
    .srlp-grid-child{
      .srlp-image-container-holder{
        display: flex;
        flex-direction: column; // Wichtig für vertikale Anordnung
        justify-content: space-between; // Positioniert Top & Bottom
        height: 100%;
        .srlp-image-container__headline-container {
          display: block;
          width: 100%;
          min-height: 10px;
        }
        .srlp-image-container__subheadline-container {
          min-height: 10px;
          width: 100%;
          .srl-article__grid{
            .srl-article__grid--inner{
              justify-self: center;
              @media (min-width: $break-point-master) {
                justify-self: right;
              }
            }
          }
        }
      }
    }
  }
}


@mixin dynamic-height($max: 100) {
  @for $i from 10 through $max {
    .srlp-image-container._height-#{$i} {
      min-height: #{$i}vh;
    }
  }
}

@include dynamic-height(100);
