@use "_web";
.srlp-pdf-break-page {
  width: 100%;
  background: #cccccc;
  padding: 10px;
  margin: 15px 0;
  &:after{
    content:'------------------- PDF Page Break -------------------';
    display:block;
    text-align: center;
    width: 100%;
    color:#000000;
    font-size: small;
  }
}
