@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

$v20250116101915-image-size: 450px;
$v20250116101915-break-point: calc( 3 * $v20250116101915-image-size);

@mixin content-width($index) {
  .srlp-component-holder {
    &._area-width-#{$index} {

      @media (min-width: $v20250116101915-break-point) {
        .srlp-image-box {
          .srlp-image-box__image-container {
            width: calc(100vw - #{$index}vw);
          }
          .srlp-image-box__title-container {
            width: #{$index}vw;
          }
          .srlp-image-box__content-container {
            width: #{$index}vw;
          }
          .srlp-image-box__content-cta {
            width: #{$index}vw;
          }
        }
      }

    }
  }
}

.srlp-component-holder{
  .srlp-image-box {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
    "title"
    "image"
    "description"
    "cta";
    @media (min-width: $v20250116101915-break-point) {
      grid-template-areas:
    "image title"
    "image description"
    "image cta";
    }

  }
  .srlp-image-box__image-container {
    grid-area: image;

    @media (min-width: $v20250116101915-break-point){
      width: 20vw;
    }

  }
  .srlp-image-box__title-container {
    grid-area: title;
    text-align: center;
    padding:$space-m $space-l  ;
    @media (min-width: $v20250116101915-break-point) {
      text-align: left;
      padding:0 $space-xxl ;
      width: 80vw;
    }

  }
  .srlp-image-box__content-container {
    grid-area: description;
    padding:$space-m $space-l  ;
    @media (min-width: $v20250116101915-break-point) {
      padding:0 $space-xxl ;
      width: 80vw;
    }
  }
  .srlp-image-box__content-cta {
    grid-area: cta;

    .srl-button-container{
      .srl-button-container__inner{
        display: flex;
        flex-direction: row;
        align-content: center;
        gap:$space-l;
      }

    }
    padding:$space-m $space-l  ;
    @media (min-width: $v20250116101915-break-point) {
      padding:0 $space-xxl ;
      width: 80vw;
    }

  }
  .srlp-image-box__image{
    width: 100%;
  }

  &._img-pos-right{
    .srlp-image-box {
      @media (min-width: $v20250116101915-break-point) {
        grid-template-areas:
    "title image"
    "description image"
    "cta image";
      }

    }
  }

}

@each $i in (50, 60, 70, 80) {
  @include content-width($i);
}

