@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

.srlp-image-box {
  min-height: 50vh;
  display: grid;
  grid-template-areas:
    "title"
    "image"
    "content"
    "cta";
  grid-template-columns: 1fr;
  gap: 1rem;

  .srlp-image-box__title-container {
    grid-area: title;
  }

  .srlp-image-box__image-container {
    grid-area: image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
  }

  .srlp-image-box__content-container {
    grid-area: content;
  }

  .srlp-image-box__content-cta {
    grid-area: cta;
    .srl-button-container{
      &__inner{
        text-align: left;
      }
    }

  }

  @media screen and (min-width: $break-point-master) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image title"
      "image content"
      "image cta";

    .srlp-image-box__image-container {
      width: 100%; // nimmt die linke Spalte komplett ein
    }

    .srlp-image-box__title-container,
    .srlp-image-box__content-container,
    .srlp-image-box__content-cta {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; // zentriert vertikal
    }
  }
  &._img-pos-right{
    @media screen and (min-width: $break-point-master){
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "title image"
      "content image"
      "cta image";
    }
  }
  &._bg-color-cream{
    background: $color-cream;
  }
  &._bg-color-essence-orange{
    background: $color-essence-orange;
  }
  &._bg-color-white{
    background: $color-white;
  }
}

@mixin dynamic-height-image-box($max: 100) {
  @for $i from 10 through $max {
    .srlp-image-box._height-#{$i} {
      min-height: #{$i}vh;
    }
    .srlp-image-box._height-#{$i} .srlp-image-box__image-container {
      min-height: #{$i}vh;
    }
  }
}

@include dynamic-height-image-box(100);


