@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/mixins" as *;


._text-typo-paragraph{
  @include font-style-web(text);
  font-family: $font-family-libre-baskerville;
  font-style: normal;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-letter{
  @include font-style-web(letter);
  font-family: $font-family-libre-baskerville;
  font-style: normal;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-quote{
  @include font-style-web(quote);
  font-family: $font-family-libre-baskerville;
  font-style: italic;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-title-3{
  @include font-style-web(h3);
  font-family: $font-family-libre-baskerville;
  font-style: normal;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-title-2{
  @include font-style-web(h2);
  font-family: $font-family-league-spartan;
  font-style: normal;
  text-transform: uppercase;
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-title-1{
  @include font-style-web(h1);
  font-family: $font-family-libre-baskerville;
  font-style: normal;
  text-transform: uppercase;
  @media (min-width: $break-point-master) {
    letter-spacing: 3px;
  }
  &._text-color-essence-orange {
    color: $color-essence-orange;
  }
  &._text-color-cream {
    color: $color-cream;
  }
  &._text-color-black {
    color: $color-black;
  }
}
._text-typo-outline-big{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-essence-orange;
  font-family:$font-family-league-spartan;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  font-size:150px!important;
  line-height: 100px!important;
  font-weight: 600;
  @media(min-width: $break-point-master){
    font-size:350px!important;
    line-height: 150px!important;
  }
}
._text-typo-outline-small{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-essence-orange;
  font-family:$font-family-league-spartan;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:transparent;
  font-size:60px!important;
  line-height: 60px!important;
  font-weight: 600;
  @media(min-width: $break-point-master){
    font-size:100px!important;
    line-height: 110px!important;
  }
}
._text-typo-outline-small-strong-mix{
  @include font-style-web(outline-small-mix);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color-essence-orange;
  font-family:$font-family-league-spartan;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:transparent;
  strong{
    color: $color-essence-orange;
  }
  font-size:60px!important;
  line-height: 60px!important;
  font-weight: 600;
  @media(min-width: $break-point-master){
    font-size:100px!important;
    line-height: 110px!important;
  }
}