@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "_web";

.srlp-grid {
  @include srlp-grid-width(large); // 1200px
  padding-left:16px ;
  padding-right:16px ;
  @media (min-width: $break-point-master){
    padding-left:0 ;
    padding-right:0 ;
  }
  .srlp-grid{
    padding-left:0 ;
    padding-right:0 ;
  }
  &__text {
    @include srlp-grid-width(standard); // 960px

  }

  &__content {
    @include srlp-grid-width(large); // 1200px
  }

  &__full {
    @include srlp-grid-width(full); // volle Breite
    padding-left:0 ;
    padding-right:0 ;
  }
}
.srlp-hide-in-app{
  display: none!important;
}