@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

._bg-color-essence-orange{
  background: $color-essence-orange;
}
._bg-color-cream{
  background: $color-cream;
}
._bg-color-white{
  background: $color-white;
}
._text-color-essence-orange{
  &:not([class*="_text-typo-outline"]){
    *{
      color: $color-essence-orange;
    }
  }
  &[class*="_text-typo-outline"]{
    @include text-stroke(1px,$color-essence-orange,2px);
    @include text-color(transparent);
  }
  &._text-typo-outline-small-strong-mix{
    strong,
    b{
      @include text-stroke(1px,$color-essence-orange,2px);
      @include text-color($color-essence-orange);
    }
  }

}
._text-color-cream{
  &:not([class*="_text-typo-outline"]){
    *{
      color: $color-cream;
    }
  }
  &[class*="_text-typo-outline"]{
    @include text-stroke(1px,$color-cream,2px);
    @include text-color(transparent);
  }
  &._text-typo-outline-small-strong-mix{
    strong,
    b{
      @include text-stroke(1px,$color-cream,2px);
      @include text-color($color-cream);
    }
  }

}


//reset original css
[class*="_bg-color-"] {
  .srl-quote__container{
    background: transparent;
  }
}



//button Style
._btn-color-essence-orange{
  background-color: transparent;
  color:$color-essence-orange;
  border: 1px solid $color-essence-orange;
  border-radius: 50px;
}
._btn-color-cream{
  background-color: transparent;
  color:$color-cream;
  border: 1px solid $color-cream;
  border-radius: 50px;
}
._btn-color-black{
  background-color: transparent;
  color:$color-black;
  border: 1px solid $color-black;
  border-radius: 50px;
}