//@use "nswow";
@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;

h1{
  @include typo-font-size($font-family-league-spartan,38px, 100px );
  @include typo-font-style(normal);
  @include typo-font-weight(600);
  @include typo-line-height(41px, 110px);
  @include typo-letter-spacing(1.14px, 3px);
  @include typo-text-transform(uppercase);
  margin: 16px 0;
  padding:0;
}
h2,
._text-typo-title-2{
  @include typo-font-size($font-family-league-spartan,40px, 64px );
  @include typo-font-style(normal);
  @include typo-font-weight(600);
  @include typo-text-transform(uppercase);
  @include text-color($color-essence-orange);
  @include typo-line-height(43px, 74px);
  margin: 16px 0;
  padding:0;
}
h3,
._text-typo-title-3{
  @include typo-font-size($font-family-league-spartan,30px, 48px );
  @include typo-font-weight(500);
  @include typo-text-transform(uppercase,capitalize);
  @include text-color($color-text);
  @include typo-line-height(33px, 58px);
  margin: 16px 0;
  padding:0;
}
p,
._text-typo-paragraph{
  @include typo-font-size($font-family-libre-baskerville,20px, 30px );
  @include typo-font-weight(400);
  @include text-color($color-text);
  @include typo-line-height(23px, 40px);
  margin: 16px 0;
  padding:0;
}


._text-typo-outline-small{
  @include typo-font-size($font-family-league-spartan,38px, 100px );
  @include typo-font-style(normal);
  @include typo-font-weight(700);
  @include typo-line-height(41px, 110px);
  @include typo-letter-spacing(1.14px, 3px);
  @include typo-text-transform(uppercase);
  @include text-stroke(2px,$color-essence-orange,2px);
  @include text-color(transparent);
}
._text-typo-outline-big{
  @include typo-font-size($font-family-league-spartan,200px, 450px );
  @include typo-font-style(normal);
  @include typo-font-weight(700);
  @include typo-line-height(70px, 310px);
  @include typo-letter-spacing(1.14px, 3px);
  @include typo-text-transform(uppercase);
  @include text-stroke(3px,$color-essence-orange,4px);
  @include text-color(transparent);
}

._text-typo-quote{
  @include typo-font-size($font-family-libre-baskerville,24px, 40px );
  @include typo-font-weight(400);
  @include text-color($color-text);
  @include typo-font-style(italic);
  @include typo-line-height(27px, 50px);
}

._text-typo-image-description{
  @include typo-font-size($font-family-libre-baskerville,14px, 20px );
  @include typo-font-weight(400);
  @include text-color($color-text);
  @include typo-line-height(17px, 30px);
}
._text-typo-link{
  @include typo-font-size($font-family-libre-baskerville,12px, 14px );
  @include typo-font-weight(400);
  @include text-color($color-essence-orange);
  @include typo-line-height(normal,18px );
  @include typo-text-decoration(underline);
}
