@use 'nswow';
@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/reset" as *;
@use "/src/assets/scss/user-style/fonts" as *;
@use "/src/assets/scss/user-style/grid" as *;
@use "/src/assets/scss/user-style/mixins" as *;
@use "/src/assets/scss/user-style/user-style" as *;


.srl-button{
  @include font-style-web(small-text);
  color: $color-text;
  font-family: $font-family-league-spartan;
  font-style: normal;
  display:inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius:50px ;
  border:2px solid $color-black;
  background: transparent;
  &._btn-color-cream{
    border-color:$color-cream;
    color:$color-cream;
    background: transparent;
  }
  &._btn-color-essence-orange{
    border-color:$color-essence-orange;
    color:$color-essence-orange;
    background: transparent;
  }
}

