@use "_print";


$srlp-pdf-multi-column-container-gap: 10mm;
.srlp-pdf-multi-column-container{
  column-count: 2;
  column-gap: $srlp-pdf-multi-column-container-gap;
  &_is_3_columns{
    column-count: 3;
  }
  &_is_4_columns{
    column-count: 4;
  }
  ._pdf_break_colum{
    column-span: all;
    width: 100%;
    display: block;
    break-inside: avoid;
  }
}