@use "_web";
@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/mixins" as *;
.srl-title-h1{
  margin: 32px 0 64px;
  padding: 0;
  font-size:30px!important;
  @media(min-width: $break-point-master){
    font-size:45px!important;
    line-height: 50px!important;
  }
}