@use "/src/assets/scss/user-style/variables" as *;
@use "/src/assets/scss/user-style/mixins" as *;
.srl-signature-item {
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  &__image {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }

  }
  &__name,
  &__position{
    @include font-style-web(text);
  }
}